// Place all the styles related to the hello controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.oya {
  width: 300px;
  margin: 50px;
  position: relative;

}
.ko {
  width: 100px;
  height: 30px;
  margin-top: 10px;
}
.ko-1 {

}
.ko-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.ko-3 {


}
.ko-4 {

}
.ko-5 {

}
/* ここまで解答 */

.oya {
  background-color: #fff9e0;
  border: 1px solid black;
}
.ko {
  box-sizing: border-box;
  background-color: #ff6600;
  border: 1px solid #ce2525;
  color: #fff9e0;
  text-align: center;
}